* {
    padding: 0;
    margin: 0;
}

.login-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a0ca3;
    background-image: url("../assets/glass-table-stock-market-image.jpg");
}


.login-page {
    height: 75%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f72585;
    border-radius: 2vw;
}

.login-title {
    /* padding-top: 15%; */
    height: 25%;
    align-content: center;
    font-size: 5vw;
    /* padding-bottom: 3vw; */
    color: #80ed99;
}

.login-inputs {
    padding-top: 10%;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20%;
}

.login-button-div {
    align-content: center;
    height: 25%;
    /* padding-bottom: 20%; */
}

.login-input-text {
    color:#f72585;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    font-size: 1rem;
    border-radius: 4px;
    line-height: 10px;
    border-color:blue;
    width:75%;
}

.login-input-text::placeholder {
    color:#f72585;
}

.login-input-text:focus {
    border-color:#80ed99;
    border-width: 2px;
    outline: 0;
    box-shadow: 5px 10px #80ed99;
}

.login-input-text:not(:focus) + .login-title {
    opacity: .5;
}

/* .login-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-page {
    background-color: #f72585;
    border-radius: 2vw;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    column-gap: 50%;
}

.login-input-text {
    color:#f72585;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    font-size: 1rem;
    border-radius: 4px;
    line-height: 10px;
    border-color:blue;
}

.login-input-text::placeholder {
    color:#f72585;
}

.login-input-text:focus {
    border-color:#80ed99;
    border-width: 2px;
    outline: 0;
    box-shadow: 5px 10px #80ed99;
} */