.login-sidebar {
    display: flex;
    flex-direction: column;
    width: 30px;
    width: 18%;
    height: 100%;
    background-color: #7209b7;
    align-items: center;
    justify-content: center;
    row-gap: 10%;
}

.welcome-div {
    text-align: center;
    font-size: 30px;
    font-size: 3.5vh;
    color: #80ed99;
}