* {
    padding: 0;
    margin: 0;
}

.signup-screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a0ca3;
    background-image: url("../assets/glass-table-stock-market-image.jpg");
}


.signup-page {
    height: 75%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: #f72585;
    border-radius: 2vw;
    /* row-gap: 10%; */
}

.signup-title {
    font-size: 20px;
    font-size: 2.5vw;
    height: 20%;
    color: #80ed99;
    align-content: center;

}

.signup-inputs {
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    row-gap: 8%;
    align-items: center;
    width: 75%;
    height: 70%;
}

.signup-input-text {
    color:#f72585;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    font-size: 1rem;
    border-radius: 4px;
    line-height: 10px;
    border-color:blue;
    width: 75%;
}

.signup-button-div {
    height: 10%;
}

.signup-input-text::placeholder {
    color:#f72585;
}

.signup-input-text:focus {
    border-color:#80ed99;
    border-width: 2px;
    outline: 0;
    box-shadow: 5px 10px #80ed99;
}


.signup-input-text:not(:focus) + .signup-title {
    opacity: .5;
}

.show-pass-button {
    color:#f72585;
    background-color: #80ed99;
    width: 50%;
    font-weight: 700;
    align-self: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    font-size: 1rem;
    border-radius: 4px;
    line-height: 10px;
    border-color:blue;
}