* {
    margin: 0;
    padding: 0;
}

.watchlist-screen {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;

}

.watchlist-topbar {
    width: 100%;
    height: 20%;
    display:flex;
    flex-direction: row;
    column-gap: 25%;
    align-items: center;
}

.watchlist-box {
    width: 100%;
    height: 85%;
}

/* Dropdown Button */
.watchlist-dropbtn, .stocks-dropbtn {
    background-color: #04AA6D;
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 5vh;
    width: 10vw;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display:flex;
    width: fit-content;
    padding: 10px;
    text-wrap: nowrap;
  }
  
  /* Dropdown button on hover & focus */
  .watchlist-dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  /* The search field */
  #watchlist-myInput {
    box-sizing: border-box;
    /* background-image: url('searchicon.png'); */
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #watchlist-myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .watchlist-dropdown {
    position: relative;
    left: 2em;
    top: 2em;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .watchlist-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .watchlist-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .watchlist-dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display:block;
  }
  
  /* Dropdown Button */
.stocks-dropbtn {
  background-color: #04AA6D;
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 5vh;
  width: 10vw;
  font-size: 30px;
}

/* Dropdown button on hover & focus */
.stocks-dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#stocks-myInput {
  box-sizing: border-box;
  /* background-image: url('searchicon.png'); */
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#stocks-myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.stocks-dropdown {
  position: relative;
  left: 2em;
  top: 2em;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.stocks-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  
  z-index: 1;
}

/* Links inside the dropdown */
.stocks-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.stocks-dropdown-content a:hover {background-color: #f1f1f1}

  .card-container {
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    height: fit-content;
    background-color: white;
    flex-shrink: 0;
  }
  
  .card-img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  
  .card-title {
    margin: 0.5rem 5%;
    align-self: center;
  }
  
  .card-description {
    margin: 0.5rem 5%;
    align-self: center;
  } 

  .home-card {
    height: 80%;
  }

  .watchlist-delete-button {
    top:2em;
    position: relative;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: fit-content;
    text-wrap: nowrap;
    height: 40px;
}

.watchlist-delete-button:hover,
.watchlist-delete-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.watchlist-delete-button:active {
  opacity: .5;
}

.watchlist-link {
  cursor: pointer;
}

.stocks-link {
  cursor:pointer;
}